@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using System
@using CS431_Project.Models

@{
    Layout = "Layout.cshtml";
}

<h1>Admin Panel</h1>

@if (Model != null)
{
    <p>Operation: <b>@Model.Operation</b></p>
    <p>Result: @Model.Status</p>
}