<h1>@Model.Text</h1>

<a href="admin/create">Create the database</a> (<a href="admin/create/recreate">Recreate</a>)<br />

<a href="admin/populatetestdata">Add some test data</a><br />

<a href="admin/gettestdata">Retrieve</a><br />

Do other stuff<br />