@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using System
@using CS431_Project.Models

@{
    Layout = "Layout.cshtml";
    ViewBag.Title = Model.Title;
}

@foreach (var x in Model.Movies)
{<div>@Html.Partial("SingleMovie.cshtml", x)</div>}