@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using System
@using CS431_Project.Models

@{
    Layout = "Layout.cshtml";
    ViewBag.Title = "Purchase List";
}

@foreach (var x in Model)
{<div>@Html.Partial("SinglePurchase.cshtml", x)</div>}