@using CS431_Project.Models
<div>
    <div>
        Title: @Model.Title
    </div>
    <div>
        Duration: @Model.Duration
    </div>
    <div>
        Release: @Model.ReleaseDate
    </div>
    <div>
        Genre: @Model.Genre
    </div>
</div>