@using System
@using CS431_Project.Models
<div>
    <div>
        <a href="/movies/@Model.GetPrettyTitleLink()">@Model.Title</a>
    </div>
    <div>
        Duration: @((new TimeSpan(0, Model.Duration, 0)).ToString(@"hh\:mm"))
    </div>
    <div>
        Release: @Model.ReleaseDate
    </div>
    <div>
        Genre: @Model.Genre
    </div>
</div>